.about-us-container {
  width: 100%; 
  padding: 0 20px;
  box-sizing: border-box;
  text-align: center;
}

.about-us-heading {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 15px;
}

.about-us-description {
  font-size: 16px; 
  color: #666;
  margin-bottom: 20px;
  font-weight: bold;
}

.about-us-content {
  font-size: 15px; 
  line-height: 1.6;
  margin-bottom: 15px;
  color: #444;
  text-align: left; 
}